.details {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 55px;
}
.details button {
  height: 40px;
  width: 120px;
  background: rgb(239 201 35);
  border-radius: 6px;
  border: none;

  /* border: solid 1px yellow; */
  color: rgb(85, 85, 85);
  font-size: 15px;
}
.details > h2 {
  font-size: 53px;
  margin: 0;
}
