.card {
  height: 255px;
  width: 185px;
  overflow: hidden;
  margin: 13px;
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card h2 {
  position: absolute;
  bottom: -8px;
  left: 10px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
