.hotelRoom {
  display: flex;
  height: 180px;
  width: 100%;
  background: rgb(241, 241, 241);
  margin: 10px;
  padding: 10px;
}
.hotelRoom__img {
  height: 100%;
  width: 40%;
}
.hotelRoom img {
  height: 100%;
  width: 100%;
}
.hotelRoom__details {
  width: 65%;
  padding: 10px;
}
.star {
  color: rgb(237, 202, 7);
  font-size: 28px;
}
